body { font-family: sans-serif; padding: 20px; }

.grid {display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}

.cell {background-color: mediumpurple;
    color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}
